h1{
    font-family: $tipografia-titulos;
    color: $color-titulos;
    font-size: 55px;
    text-align: center;
    margin: 30px;
    @include mediaquery-mobile(){
        font-size: 40px;
}
}
.contenedor-catalogo{
    
    @include mediaquery-mobile(){
        margin: 10px 60px;
    }
    img{
        width: 280px;
        height: 280px;
        border-radius: 25px;
        
        @include mediaquery-mobile(){
            width: 250px;
            height: 250px;
            border-radius: 15px;
        }
    }
    
}
.contenedor-foto img{
    display: flex;
    justify-content: center;
    margin: 0px 87px;
    @include mediaquery-mobile(){
        margin: 10px 5px;
    }
}

.item{
    p{
        color: $color-texto;
    }
    span{
        color: $color-texto;
    }

}

.mostrador .fila{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include mediaquery-mobile{
        flex-wrap: wrap;
    }
    .item{
        text-align: center;
        @include mediaquery-mobile(){
            text-align: center;
        }
    }

}

.btn-comprar{
    background-color: lightpink;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    border-color: rgb(202, 175, 175);
    margin: 40px;
    &:hover{
        background-color: lightcoral;

    }
    @include mediaquery-mobile(){
        padding: 12px 25px;
        border-radius: 8px;
        margin: 40px;
    }
}


