
form{
    
    width: 500px;
    margin: 50px auto;
    background: rgb(185, 119, 129, 0.4);
    padding: 30px 20px;
    border-radius: 10px;
    @include mediaquery-mobile(){
        width: 70%;
    }
}

input, textarea{
    width: 100%;
    margin-bottom: 15px;
    font-size: 15px;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton-enviar{
    background-color: lightpink;
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    display: block;
    margin: 0 auto;
}


.circle{
    margin-top: 30px;
    margin-left: 20 px;
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    border-radius: 50%;

    animation-name: cambiarcolor;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    @include mediaquery-mobile(){
        width: 80px;
        height: 80px;
}
}

@keyframes cambiarcolor{
    0%{
        background-color: palevioletred;
        transform: scale(1);
        transform: translateX(0);
    }
    20%{
        transform: scale(1.3);
    }
    40%{
        transform: scale(1.6);
    }
    60%{
        transform: scale(1.9);
    }
    100%{
        background-color: pink;
        transform: translateX(800%);
    }
}

