#ProductosDestacado{
    margin: 0;

}
.parrafo-productos-destacados{
    color: #7D4961;
}
.ProductosDestacados{
    img{
        width: 92%;
        height: 500px;
        border-radius: 25px;
        margin: 50px;
        @include mediaquery-mobile(){
            width: 75%;
            height: 300px;
            border-radius: 20px;
        }
    }
        p{
            padding: 50px;
        }
}



ul{
    list-style: none;
    display: flex;
    justify-content: center;
    @include mediaquery-mobile(){
        display: block; 
        padding: 1px;
    }
    
}

@each $producto in arete, collar, pulsera {
    #producto-#{$producto} {
        background-image: url(../imagenes/productos-principales/#{$producto}.jpeg);
        background-position: center;
        background-size: 300px;
        display: block;
        width: 300px;
        height: 300px;
        margin: 50px;
        border-radius: 25px;
    }
}

.itemprincipales{
    text-align: center;
    @include mediaquery-mobile(){
        text-align: center;
    }
}
.btn-comprar {
    font-size: 12px; 
    padding: 4px 8px;
    width: auto; 
}  

.volver-arriba{
    background-color: pink;
    border-radius: 5px;
    &:hover{
        background-color: lightcoral;
    }
}
