#ProductosDestacado{
    margin: 0;

}
.parrafo-productos-destacados{
    color: #7D4961;
}
.ProductosDestacados{
    img{
        width: 92%;
        height: 500px;
        border-radius: 25px;
        margin: 50px;
        @include mediaquery-mobile(){
            width: 75%;
            height: 300px;
            border-radius: 20px;
        }
    }
        p{
            padding: 50px;
        }
}


ul{
    list-style: none;
}
@each $producto in arete, collar, pulsera {
    #producto-#{$producto} {
        background-image: url(../imagenes/productos-principales/#{$producto}.jpeg);
        display: flex;
        width: 300px;
        height: 300px;
        margin: 30px;
        border-radius: 25px;
    }
}



