#ProductosDestacado{
    margin: 0;

}
.parrafo-productos-destacados{
    color: #7D4961;
}
.ProductosDestacados{
    img{
        width: 92%;
        height: 500px;
        border-radius: 25px;
        margin: 50px;
        @include mediaquery-mobile(){
            width: 75%;
            height: 300px;
            border-radius: 20px;
        }
    }
        p{
            padding: 50px;
        }
}

