div .col{
    color: $color-texto;
    @include mediaquery-mobile(){
        font-size: 14px;
    }
    
    
}

.container img{
    width: 350px;
    height: 350px;
    border-radius: 25px;
    margin: 50px 80px;
    display: block;
    @include mediaquery-mobile(){
            width: 80%;
            height: 50%;
            border-radius: 7px;
            margin: 30px 30px;
            }
        }
