
footer{
    background-color: $color-terciario;
}

.pie-pagina .grupo-1{
    max-width: 1200px;
    padding: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 250px;
    @include mediaquery-mobile(){
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        padding: 35px;
    }
}
.pie-pagina h3{
    font-size: 15px;
    color: #7D4961;
}
.box p{
    font-size: 14px;
}
.pie-pagina .grupo-2{
    display: flex;
    justify-content: center;
    align-items: center;

        img{
            margin: 10px;
            width: 35px;
            height: 35px;
        }
    @include mediaquery-mobile(){
        width: 100%;
        display: flex;
        text-align: center;
        padding: 0px;
    }
}


.pie-pagina .grupo-3{
    background-color: rgb(240, 231, 231);
    text-align: center;
    font-size: 12px;
    padding: 30px;
    margin: 0px;
    @include mediaquery-mobile(){
        width: 100%;
        height: 40%;   
    }
}
.pie-pagina .volver-arriba{
    margin: 35px;
    text-align: left;
    color: #7D4961;
}



