*{
    margin: 0;
    padding: 0;
}
body{
    font-family: $tipografia-texto;
    background-color:$color-primario;
}
h2{
    font-family: $tipografia-titulos;
    font-weight: 400;
    color: $color-titulos;
}
h2{
    text-align: center;
    padding: 20px;
    font-size: 50px;
    @include mediaquery-mobile(){
        text-align: center;
        padding: 20px;
        font-size: 30px;
    }
}

.logo img{
    width: 150px;
    height: 150px;
        @include mediaquery-mobile(){
            margin-top: 20px;
            width: 100px;
            height: 100px;
        }
}
.logo{
    display: flex;
    justify-content: center;
}
header{
    background-color: $color-secundario;
    width: 100%;
    a{
        text-decoration: none;
    }
    label{
        display: none;
        width: 30px;
        height: 30px;
        padding: 10px;
            @include mediaquery-mobile(){
                display: block;
        }
    }
    .menu {
        background-color: lightgoldenrodyellow;
        display: flex;
        justify-content: center;
        align-items: center;
            @include mediaquery-mobile(){
                position: absolute;
                background-color: $color-terciario;
                width: 70%;
                margin-left: -70%;
                transition: all 0.5s;
        }
        }
        &:label:hover{
            cursor: pointer;
            background: rgba(0,0 , 0, 0.2);
        }
    nav{
            ul{
                list-style-type: none;
                display: flex;
                flex-direction: row;
                margin: 30px;
                padding: 30px;
                @include mediaquery-mobile(){
                    flex-direction: column;
                }
            }
            li{
                a{
                    color:#7D4961;
                }
                &:hover{
                    background: rgba(230, 171, 171, 0.3);
                    border-radius: 10px;
                }
                @include mediaquery-mobile(){
                    border-top: #7D4961;
                }
            }
            ul li{
                padding: 10px 20px;
                font-family: $tipografia-menu;
            }
            .bolsa img{
                width: 30px;
                height: 30px;
                filter: brightness(0) saturate(100%) invert(94%) sepia(92%) saturate(1790%) hue-rotate(282deg) brightness(81%) contrast(94%);
            }   
        }

        }

        
#btn-menu{
    display: none;

}

.items-buscador-compra{
    display: flex;
}

@media (max-width:576px){
    #btn-menu:checked ~ .menu{
        margin: 0;
        z-index: 3000;
        border-radius: 25px; 
    }
}

    


